*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #212f3d; 
  
}

::-webkit-scrollbar-thumb {
  background-color: aqua;
  border-radius: 10px;
  border: 1px solid #212f3d; 
}
